.tile {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  text-align:center;

}
.tile-top {
  border-radius: 25px 25px 0px 0px
}

.tile-bottom {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 0px 0px 25px 25px;
  min-width: 100%;
  padding: 10px;
  text-align:center;
}

.tile-sidebar {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 25px;
  height: 90vh;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  text-align:left;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: fixed;
  }
}

.content {
  height: 100%;
  min-width: 100%;
}

.query-bar {
  width: 100%;
  padding: 10px;
  z-Index: 10;
  background-color: #dfe4f2;
}

@media (min-width: 768px) {
  .query-bar {
    position: fixed;
  }
}

.small-video {
  max-height: 70vh;
  width: 100vw;
  object-fit: contain;
}

.sidebar {
  background-color: #dfe4f2;
  min-height: 100%;
}

#wrapper {
  padding: 50px 0 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ui-tabmenu {
  min-width: 100%;
  padding: 5px 5px 0 5px;
}

.primo-item .ui-md-3 {
  text-align: center;
}

.primo-item {
  box-sizing: border-box;
  border-bottom: 1px solid #004c93;
  text-align: left;
}

.empty-primo-item-index {
  background-color: #f1f1f1;
  width: 60px;
  height: 60px;
  margin: 36px auto 0 auto;
  animation: pulse 1s infinite ease-in-out;
}

.empty-primo-item-image {
  background-color: #f1f1f1;
  width: 120px;
  height: 120px;
  animation: pulse 1s infinite ease-in-out;
}

.empty-primo-item-text {
  background-color: #f1f1f1;
  height: 18px;
  animation: pulse 1s infinite ease-in-out;
}

.title-container {
  padding: 1em;
  text-align: right;
}

.sort-container {
  text-align: left;
}

.primo-add-infos {
  display: inline;
}
.primo-type {
  display: inline;
  font-size: small;
}

.primo-title {
  font-weight: bold;
  display: inline;
  font-size: large;
}

.primo-link {
   color: #44707B;
   cursor: pointer;
}

.primo-link a:link {
  color: #44707B;
}

.primo-link a:hover {
  color: #44707B;
}

.primo-link a:visited {
  color: #44707B;
}

.primo-link a:active {
  color: #44707B;
}

@media (max-width: 40em) {
  .primo-item {
    text-align: left;
  }
}

.primo-identifier {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.center-wrapper {
  text-align: center;
}
