.tile {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  text-align:center;

}
.tile-top {
  border-radius: 25px 25px 0px 0px
}

.tile-bottom {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 0px 0px 25px 25px;
  min-width: 100%;
  padding: 10px;
  text-align:center;
}

.tile-sidebar {
  background-color: #dfe4f2;
  float: left;
  opacity: 0.9;
  color: #1a171b;
  border-radius: 25px;
  height: 90vh;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  text-align:left;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: fixed;
  }
}

.content {
  height: 100%;
  min-width: 100%;
}

.query-bar {
  width: 100%;
  padding: 10px;
  z-Index: 10;
  background-color: #dfe4f2;
}

@media (min-width: 768px) {
  .query-bar {
    position: fixed;
  }
}

.small-video {
  max-height: 70vh;
  width: 100vw;
  object-fit: contain;
}

.sidebar {
  background-color: #dfe4f2;
  min-height: 100%;
}

#wrapper {
  padding: 50px 0 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ui-tabmenu {
  min-width: 100%;
  padding: 5px 5px 0 5px;
}
